<h1>Izmene podataka: <%= @small_generator.model %></h1>

<%= render 'form' %>

<%= link_to 'Show', @small_generator, class: "btn btn-info" %>
<%= link_to 'Back', small_generators_path, class: "btn btn-inverse" %>
